# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
importFrom("fts", remove.na.rows)
importFrom("mlogit", mlogit, mFormula)
importFrom("mlogit", mlogit.data)
importFrom("sfsmisc", errbar)
importFrom("vegan", mantel)
import("Formula")

